body{
	margin: 0;
}

.header{

	background: #aaa;
	background-image: linear-gradient(0deg, #eee, #aaa, #999, #888, #777);
	height: 400px;

}

#title{
	margin: 0;
	text-align: center;
	padding: 100px 0 0 0;
	color: #fff;
	font-size: 100px;
}

.contents{
	border-radius: 20px;

	margin: 20px;
	min-height: 500px;
	width: 300px;

	background: #eef;
}

.footer{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;

	margin: 5px;
	border: solid 1.5px #000;
	border-radius: 10px;

	background: #fffcf9;
	height: 30px;
}
